body{
    background-color: #4f4f64;
}
.titulo{
    text-align: center;
    font-family: verdana;
    font-size: 40px;
    color: #fff;
    padding: 20px;
    background-color: #23232e;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    position: relative;
}
.texto{
    background-color:  #fff;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;
    font-size: 25px;
font-family: verdana;
color: rgb(0, 0, 0);
text-align: center;
margin-left: 500px;
margin-right: 500px;
margin-top: 90px;
padding: 10px;
}
.pp{
    margin-top: 30px;

}
.p1{
    margin-top: 20px;
}

.ass{
    margin-top: 60px;
    margin-right: 500px;
    font-size: 25px;

}
* {

    margin: 0%;
    
    padding: 0%;
    
    }
    
    
    
    a {
    
    color: #fff;
    
    text-decoration: none;
    
    transition: 0.3s;
    
    }
    
    
    
    a:hover {
    
    opacity: 0.7;
    
    }
    
    
    
    .logo {
    
    font-size: 24px;
    
    text-transform: uppercase;
    
    letter-spacing: 4px;
    
    }
    
    
    
    nav {
    
    display: flex;
    
    justify-content: space-around;
    
    align-items: center;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background-color: #23232e;
    
    height: 8vh;
    
    }
    
    
    
    .nav-list {
    
    list-style: none;
    
    display: flex;
    
    }
    
    
    
    .nav-list li {
    
    letter-spacing: 3px;
    
    margin-left: 32px;
    
    }